
.header-top {
  background-color: #f0f0f0;
  min-height: 53px;
  padding: 12px 0;
}
.header-top-info {
  font-size: 14px;
  font-weight: 500;
}
.header-top-info a {
  color: #494242;
}
.header-top-info a:hover {
  color: #e73c17;
}
.header-top-action-area {
  align-items: center;
  display: flex;
}
.header-top-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-middle {
  padding: 32px 0;
}
@media only screen and (max-width: 767px) {
  .header-middle {
    padding: 21px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-middle .header-action {
    position: relative;
    top: 2px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .header-action {
    margin-left: -8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-middle .btn-search-menu {
    margin-right: 21px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .btn-search-menu {
    font-size: 18px;
    margin-right: 11px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-middle .header-action-user {
    margin-right: 22px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .header-action-user {
    font-size: 18px;
    margin-right: 11px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .header-action-wishlist {
    font-size: 19px;
    margin-right: 11px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .header-action-cart {
    font-size: 18px;
  }
}
@media only screen and (max-width: 479px) {
  .header-middle .header-action-cart .cart-count {
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    padding-right: 2px;
    right: -10px;
    width: 19px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-middle .btn-menu {
    position: relative;
    top: -2px;
  }
}

.header-area {
  border-top: 1px solid #f0f0f0;
}
.header-two-area {
  background-color: #242424;
}
.header-three-area {
  background-color: #fafafa;
  border: solid #f0f0f0;
  border-width: 1px 0 1px 0;
}
.header-four-inner-area {
  background-color: #fafafa;
  border: solid #f0f0f0;
  border-width: 1px 0 1px 0;
}

.header-transparent {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 8;
}
.header-transparent .header-area {
  border-top: 1px solid #2d2d30;
  padding-top: 20px;
}
.header-transparent .header-top {
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .header-transparent .header-top {
    min-height: auto;
  }
}
.header-transparent .header-top-info a {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .header-transparent .header-top-info a {
    font-size: 12px;
  }
}
.header-transparent .header-top-info a:hover {
  color: #e73c17;
}
.header-transparent .header-info-dropdown .btn-info {
  color: #ffffff;
}
.header-transparent .header-info-dropdown .btn-info:before {
  background-color: #494d61;
}
.header-transparent .header-info-dropdown .btn-info.dropdown-toggle:after {
  color: #ffffff;
}
.header-transparent .header-action button,
.header-transparent .header-action a {
  color: #ffffff;
  margin-right: 21px;
}
@media only screen and (max-width: 479px) {
  .header-transparent .header-action button,
  .header-transparent .header-action a {
    font-size: 18px;
    margin-right: 11px;
  }
}
.header-transparent .header-action button:hover,
.header-transparent .header-action a:hover {
  color: #e73c17;
}
.header-transparent .header-action .header-action-cart {
  margin-right: 13px;
}
.header-transparent .btn-menu {
  background-color: #353535;
}
.header-transparent .btn-menu:hover {
  background-color: #ffffff;
  color: #3f3f3f;
}

@media only screen and (max-width: 767px) {
  .header-logo-area img {
    max-width: 150px;
    position: relative;
    top: -1px;
  }
}
@media only screen and (max-width: 479px) {
  .header-logo-area img {
    max-width: 104px;
  }
}
@media only screen and (max-width: 479px) {
  .header-logo img {
    max-width: 115px;
  }
}

.header-info-dropdown {
  line-height: 1;
  position: relative;
}
.header-info-dropdown .btn-info {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #494343;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-right: 0;
  padding: 0 36px 0 19px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.header-info-dropdown .btn-info:before {
  background: #454545;
  content: "";
  height: 13px;
  position: absolute;
  right: 0;
  top: 2px;
  width: 1px;
  transition: all 0.3s ease 0s;
}
.header-info-dropdown .btn-info.dropdown-toggle:after {
  background: none;
  border: none;
  content: "\e604";
  color: #494343;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  font-family: "simple-line-icons";
  position: absolute;
  right: 21px;
  top: calc(50% - 5px);
  transition: all 0.3s ease 0s;
}
.header-info-dropdown .btn-info:hover,
.header-info-dropdown .btn-info:active,
.header-info-dropdown .btn-info:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #e73c17;
}
.header-info-dropdown .btn-info:hover.dropdown-toggle:after,
.header-info-dropdown .btn-info:active.dropdown-toggle:after,
.header-info-dropdown .btn-info:focus.dropdown-toggle:after {
  color: #e73c17;
}
.header-info-dropdown .dropdown-menu {
  background: #ffffff;
  border-radius: 0;
  border: none;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);
  margin: 0;
  min-width: 120px;
  max-width: 120px;
  overflow: hidden;
  padding: 0 15px;
  top: 19px !important;
  z-index: 999;
  right: 0 !important;
  left: auto !important;
}
.header-info-dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #efefef;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  padding: 14px 7px;
  transition: all 0.3s ease 0s;
}
.header-info-dropdown .dropdown-menu .dropdown-item:last-child {
  border: none;
}
.header-info-dropdown .dropdown-menu .dropdown-item.active,
.header-info-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #e73c17;
}
.header-info-dropdown:last-child .btn-info {
  padding-right: 16px;
}
.header-info-dropdown:last-child .btn-info:before {
  display: none;
}
.header-info-dropdown:last-child .btn-info:after {
  right: 0;
}

.header-navigation {
  position: relative;
}
.header-navigation-light .main-nav > li.active > a {
  color: #ffffff;
}
.header-navigation-light .main-nav > li > a {
  color: #ffffff;
}
.header-navigation-light .main-nav > li > a:hover {
  color: #e73c17;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
}
.main-nav-item {
  position: relative;
  margin: 0 14px;
}
.main-nav-item:first-child {
  margin-left: 0;
}
.main-nav-item:first-child .main-nav-link {
  padding-left: 0;
}
.main-nav-item:last-child {
  margin-right: 0;
}
.main-nav-item:last-child .main-nav-link {
  padding-right: 0;
}
.main-nav-link {
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  padding: 22px 12px;
  display: inline-block;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.main-nav-link:hover {
  color: #e73c17;
}
.main-nav li.active > a {
  color: #e73c17;
}
.main-nav li.active ul li.active > a {
  color: #e73c17;
}
.main-nav li.active ul li.active ul li.active > a {
  color: #e73c17 !important;
}

.has-submenu:hover .submenu-nav,
.has-submenu:hover .submenu-nav-mega {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.submenu-nav {
  box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  color: #000000;
  left: -15px;
  opacity: 0;
  margin-top: 30px;
  min-width: 230px;
  padding: 0 0;
  position: absolute;
  pointer-events: none;
  top: 100%;
  visibility: hidden;
  width: 230px;
  z-index: 9999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.submenu-nav-item {
  border-bottom: 1px solid rgba(173, 181, 189, 0.15);
  padding: 0;
  margin-bottom: 0;
}
.submenu-nav-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.submenu-nav-link {
  color: #1d1d1d;
  display: block;
  font-size: 14px;
  padding: 11px 25px 10px;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.submenu-nav-link:hover {
  color: #e73c17;
  background-color: rgba(173, 181, 189, 0.15);
}
.submenu-nav .has-submenu {
  position: relative;
}
.submenu-nav .has-submenu .submenu-nav-link:before {
  content: "\f105";
  font-family: "FontAwesome";
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.submenu-nav .has-submenu .submenu-nav {
  border-radius: 0;
  box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.5);
  left: 100%;
  right: auto;
  top: 8px;
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
}
.submenu-nav .has-submenu .submenu-nav .submenu-nav-link:before {
  display: none;
}
.submenu-nav .has-submenu .submenu-nav .submenu-nav-link:hover {
  color: #e73c17;
}
.submenu-nav .has-submenu:hover .submenu-nav-link {
  color: #e73c17;
}
.submenu-nav .has-submenu:hover .submenu-nav {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.submenu-nav .has-submenu:hover .submenu-nav .submenu-nav-link {
  color: #1d1d1d;
}
.submenu-nav .has-submenu:hover .submenu-nav .submenu-nav-link:hover {
  color: #e73c17;
}

.submenu-nav-mega {
  box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  color: #000000;
  display: flex;
  left: 50%;
  opacity: 0;
  margin-top: 30px;
  min-width: 720px;
  padding: 0;
  position: absolute;
  pointer-events: none;
  top: 100%;
  visibility: hidden;
  width: 230px;
  z-index: 9999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
.submenu-nav-mega-item {
  border-right: 1px solid rgba(173, 181, 189, 0.15);
  border-bottom: none;
  flex-basis: 50%;
  margin: 0;
  padding: 0;
}
.submenu-nav-mega-item:last-child {
  border-right: none;
}
.submenu-nav-mega-item:hover .mega-title {
  color: #e73c17;
  text-decoration: none;
}
.submenu-nav-mega-item ul > li {
  border-bottom: 1px solid rgba(173, 181, 189, 0.15);
}
.submenu-nav-mega-item ul > li:first-child {
  border-top: 1px solid rgba(173, 181, 189, 0.15);
}
.submenu-nav-mega-item ul > li:last-child {
  border-bottom: none;
}
.submenu-nav-mega-link {
  color: #1d1d1d;
  display: block;
  font-size: 14px;
  padding: 11px 35px 10px;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.submenu-nav-mega-link:hover {
  color: #e73c17;
  background-color: rgba(173, 181, 189, 0.15);
  text-decoration: none;
}
.submenu-nav-mega .mega-title {
  color: #2d2d2d;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 35px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.submenu-nav-mega .mega-title:hover {
  background-color: transparent;
  cursor: auto;
  text-decoration: none;
}
.submenu-nav-mega .has-submenu {
  position: relative;
}
.submenu-nav-mega .has-submenu a:before {
  content: "\f105";
  font-family: "FontAwesome";
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.submenu-nav-mega .has-submenu .submenu-nav {
  border-radius: 0;
  box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.5);
  left: 100%;
  right: auto;
  top: 8px;
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
}
.submenu-nav-mega .has-submenu .submenu-nav a:before {
  display: none;
}
.submenu-nav-mega .has-submenu .submenu-nav a:hover {
  color: #e73c17;
}
.submenu-nav-mega .has-submenu:hover a {
  color: #e73c17;
}
.submenu-nav-mega .has-submenu:hover .submenu-nav {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.submenu-nav-mega .has-submenu:hover .submenu-nav a {
  color: #1d1d1d;
}
.submenu-nav-mega .has-submenu:hover .submenu-nav a:hover {
  color: #e73c17;
}

.home-six-wrapper .header-middle {
  padding: 36px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .home-six-wrapper .header-middle {
    padding: 28px 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-six-wrapper .header-middle {
    padding: 27px 0;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .home-six-wrapper .main-nav-link {
    padding: 22px 9px;
  }
}

.header-search-box {
  background-color: transparent;
  margin-right: 94px;
  min-width: 510px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-search-box {
    margin-right: 45px;
    min-width: 310px;
  }
}
.header-search-box .form-control {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #f0f0f0;
  border-radius: 50px;
  color: #353535;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 55px;
  line-height: 56px;
  padding: 5px 55px 7px 29px;
  width: 100%;
}
.header-search-box .form-control::-webkit-input-placeholder {
  color: #989898;
}
.header-search-box .form-control:-moz-placeholder {
  color: #989898;
}
.header-search-box .form-control::-moz-placeholder {
  color: #989898;
}
.header-search-box .form-control:-ms-input-placeholder {
  color: #989898;
}
.header-search-box .btn-src {
  background-color: #191919;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  height: 47px;
  line-height: 49px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 50%;
  width: 47px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.header-search-box .btn-src:hover {
  background-color: #e73c17;
  color: #ffffff;
}
.header-search-box-categories .nice-select {
  border: none;
  border-left: 1px solid #f0f0f0;
  border-radius: 0;
  color: #606060;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 51px;
  margin-right: 25px;
  min-width: 146px;
  padding: 5px 20px 7px 25px;
}
.header-search-box-categories .nice-select:before {
  color: #606060;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.header-search-box-categories .nice-select:after {
  display: none;
}
.header-search-box-categories .nice-select option {
  font-size: 12px;
}
.header-search-box-two {
  align-items: center;
  border: 2px solid #f0f0f0;
  display: flex;
  margin: 0;
  min-width: 718px;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px),
  only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .header-search-box-two {
    min-width: 500px;
  }
}
.header-search-box-two .form-control {
  border: none;
  border-radius: 0;
  height: 51px;
  padding-right: 15px;
}
.header-search-box-two .btn-src {
  border-radius: 0;
  height: 47px;
  margin-right: 2px;
  min-width: 47px;
  position: relative;
  right: auto;
  top: auto;
  transform: none;
}

.header-action-cart {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000000;
  font-size: 21px;
  line-height: 1;
  margin-right: 13px;
  padding: 0;
  position: relative;
}
.header-action-cart .cart-count {
  background-color: #e73c17;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  height: 21px;
  line-height: 21px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -9px;
  width: 21px;
}
@media only screen and (max-width: 767px) {
  .header-action-cart .cart-count {
    top: -6px;
  }
}
.header-action-cart:hover {
  color: #e73c17;
}

.header-action-wishlist {
  color: #313131;
  font-size: 23px;
  line-height: 1;
  margin-right: 24px;
}

.header-action-account {
  border-right: 1px solid #454545;
  color: #494343;
  font-weight: 500;
  line-height: 1;
  padding-right: 19px;
  margin-right: 20px;
  min-width: 134px;
}
.header-action-account .icon {
  font-size: 21px;
}

.header-action-user {
  color: #313131;
  font-size: 21px;
  line-height: 1;
}

.btn-menu {
  background-color: #e73c17;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 17px;
  margin-left: 22px;
  padding: 0 9px;
}
@media only screen and (max-width: 479px) {
  .btn-menu {
    margin-left: 12px;
  }
}
.btn-menu:hover {
  background-color: #3f3f3f;
}

.btn-search-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #3f3f3f;
  font-size: 21px;
  line-height: 1;
  padding: 0;
}
.btn-search-menu:hover {
  color: #e73c17;
}

.phone-item-action {
  align-items: center;
  border-left: 1px solid #454545;
  display: inline-flex;
  padding: 11px 0 12px 20px;
}
.phone-item-action--two {
  border: solid #f0f0f0;
  border-width: 0 1px 0 1px;
  padding: 11px 48px 12px;
}
.phone-item-icon {
  min-width: 32px;
  margin-right: 20px;
  margin-top: 1px;
}
.phone-item-content {
  font-weight: 500;
  line-height: 1;
}
.phone-item-content span {
  color: #323232;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.phone-item-content a {
  color: #e73c17;
}

.vertical-menu {
  position: relative;
}
.vertical-menu-two {
  margin-right: 10px;
  min-width: 310px;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .vertical-menu-two {
    min-width: 252px;
  }
}
.vertical-menu-two .vmenu-btn {
  justify-content: center;
}
.vertical-menu-two .vmenu-item > a {
  padding: 12px 60px;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .vertical-menu-two .vmenu-item > a {
    padding: 12px 30px;
  }
}

.vmenu-btn {
  align-items: center;
  background: #e73c17;
  border: none;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  margin: 0;
  line-height: 1;
  overflow: hidden;
  text-transform: capitalize;
  padding: 0 30px;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .vmenu-btn {
    padding: 0 20px;
  }
}
.vmenu-btn .icon {
  font-size: 18px;
  margin-right: 19px;
}
.vmenu-btn .icon:last-child {
  margin-left: 13px;
  margin-right: 0;
}
.vmenu-btn:hover {
  opacity: 0.9;
}

.vmenu-content {
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  height: auto;
  overflow: visible;
  border-top: none;
  box-shadow: 0px 2px 9.4px 0.6px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-bottom: 0;
  z-index: 9;
}
.vmenu-content li {
  display: block;
  position: relative;
}
.vmenu-content li:hover .verticale-mega-menu {
  opacity: 1;
  visibility: visible;
}
.vmenu-content li.expand {
  padding: 0 10px;
  width: 100%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-content li.expand a {
  color: #000000;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-content li.expand a i {
  color: #000000;
  font-size: 16px;
  padding-right: 10px;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.vmenu-content li.expand a.minus {
  color: #e73c17;
}
.vmenu-content li.expand a:hover {
  color: #e73c17;
}

.vmenu-content-none {
  display: none;
}

.vmenu-item {
  border-bottom: 1px solid #eeeeee;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-item:last-child {
  border-bottom: none;
}
.vmenu-item > a {
  align-items: center;
  color: #555758;
  display: flex;
  font-size: 16px;
  line-height: 1;
  min-height: 58px;
  padding: 12px 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .vmenu-item > a {
    padding: 12px 20px;
  }
}
.vmenu-item > a .icon {
  margin-right: 13px;
  min-width: 24px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .vmenu-item > a .icon {
    margin-right: 10px;
  }
}
.vmenu-item > a .icon img {
  max-width: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-item > a:hover {
  background-color: #ffffff;
  color: #000000;
}
.vmenu-item > a:hover .icon img {
  filter: brightness(0.7);
}
.vmenu-item .menu-item-title {
  align-items: center;
  background: none;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  min-height: 0;
  overflow: hidden;
  padding: 7px 10px 3.5px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-item .menu-item-title i {
  color: #000000;
  display: inline-block;
  font-size: 11px;
  height: auto;
  left: auto;
  position: absolute;
  right: 0;
  top: 58%;
  width: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.vmenu-item .menu-item-title img {
  max-width: 30px;
  margin-right: 12px;
}
.vmenu-item:hover .menu-item-title {
  color: #e73c17;
}
.vmenu-item:hover .menu-item-title i {
  color: #e73c17;
}

.verticale-mega-menu {
  box-shadow: 0px 0px 3.76px 0.24px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  padding: 10px 0 14px 0;
  width: 670px;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  z-index: 99;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
@media only screen and (max-width: 767px) {
  .verticale-mega-menu {
    left: 55px;
    top: 45px;
  }
}
.verticale-mega-menu.column-two {
  width: 870px;
}
.verticale-mega-menu.column-two li {
  flex-basis: 32.1%;
}
.verticale-mega-menu li {
  flex-basis: 33.3333333333%;
  padding: 16px 30px;
}
.verticale-mega-menu li a.title {
  color: #253237;
  display: block;
  padding-left: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 17px;
  pointer-events: none;
  text-transform: capitalize;
}
.verticale-mega-menu li a.title:hover {
  color: #000000 !important;
}
.verticale-mega-menu li ul li {
  padding: 0;
  width: 100%;
}
.verticale-mega-menu li ul li a {
  color: #253237;
  padding-left: 0;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.verticale-mega-menu li ul li a:hover {
  color: #e73c17;
  transform: translateX(10px);
}
.verticale-mega-menu li:hover a.title {
  color: #e73c17 !important;
}

.home-five-wrapper .vmenu-content {
  z-index: 2;
}

.sidebar-cart-modal {
  background-color: #ffffff;
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
  top: 0;
  width: 403px;
  padding: 0;
  min-height: 100vh;
  bottom: 0;
  z-index: 9999;
  right: 0;
}
@media only screen and (max-width: 575px) {
  .sidebar-cart-modal {
    padding: 0 15px 15px;
    width: 310px;
  }
}
.sidebar-cart-modal .offcanvas-header {
  padding: 0;
  position: absolute;
  right: 21px;
  top: 13px;
}
.sidebar-cart-modal .offcanvas-header .btn-close {
  background-image: none;
  border: none;
  box-shadow: none;
  color: #3f3f3f;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  opacity: 1;
  padding: 0;
  transition: all 0.3s ease 0s;
}
.sidebar-cart-modal .offcanvas-header .btn-close:hover {
  color: #e73c17;
}
.sidebar-cart-modal .sidebar-cart-inner {
  padding: 0;
}
.sidebar-cart-modal .sidebar-cart-inner .sidebar-cart-content .cart-close {
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  line-height: 36px;
  top: 11px;
  right: 23px;
}
.sidebar-cart-modal .sidebar-cart-inner .sidebar-cart-content .cart-close i {
  font-weight: 600;
}
.sidebar-cart-modal
  .sidebar-cart-inner
  .sidebar-cart-content
  .cart-close:hover {
  color: #e73c17;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.sidebar-cart-modal
  .sidebar-cart-inner
  .sidebar-cart-content
  .sidebar-cart-all {
  height: 100%;
  overflow-y: auto;
}
.sidebar-cart-modal
  .sidebar-cart-inner
  .sidebar-cart-content
  .sidebar-cart-all
  .cart-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}
@media only screen and (max-width: 575px) {
  .sidebar-cart-modal
    .sidebar-cart-inner
    .sidebar-cart-content
    .sidebar-cart-all
    .cart-header {
    padding: 20px 15px;
  }
}
.sidebar-cart-modal
  .sidebar-cart-inner
  .sidebar-cart-content
  .sidebar-cart-all
  .cart-header
  > h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.cart-content ul li {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.cart-content ul li:last-child {
  margin-bottom: 0;
}
.cart-content ul li .cart-img {
  flex: 0 0 70px;
}
.cart-content ul li .cart-img a img {
  border-radius: 4px;
  width: 100%;
}
.cart-content ul li .cart-title {
  margin-left: 20px;
}
.cart-content ul li .cart-title h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  width: 100%;
  margin: 0 0 11px;
}
.cart-content ul li .cart-title h4 a {
  color: #000000;
  font-weight: 400;
  font-size: 15px;
}
.cart-content ul li .cart-title h4 a:hover {
  text-decoration: underline;
}
.cart-content ul li .cart-title h4.font-size-width-inc {
  font-size: 16px;
  font-weight: 500;
}
.cart-content ul li .cart-title span {
  font-size: 15px;
  color: #353535;
}
.cart-content ul li .cart-title span span.price {
  color: #3f3f3f;
  font-size: 16px;
}
.cart-content ul li .cart-delete {
  display: flex;
  flex-grow: 100;
  justify-content: flex-end;
}
.cart-content ul li .cart-delete a {
  color: #000000;
  display: block;
  font-size: 20px;
  margin-top: -6px;
  text-align: right;
}
.cart-content ul li .cart-delete a:hover {
  color: #e73c17;
}
.cart-content .cart-total {
  display: block;
  width: 100%;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.cart-content .cart-total.cart-total-padding-2 {
  padding: 15px 0;
  margin: 18px 0;
}
.cart-content .cart-total h4 {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  color: #000000;
}
.cart-content .cart-total h4 span {
  font-size: 18px;
  color: #e73c17;
  float: right;
  font-weight: 600;
  margin-top: -3px;
}
.cart-content .cart-checkout-btn {
  display: block;
  width: 100%;
}
.cart-content .cart-checkout-btn a {
  width: 100%;
  display: block;
  margin: 10px 0 0;
  text-align: center;
  padding: 13px 20px 12px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
.cart-content .cart-checkout-btn a.cart-btn {
  color: #000000;
  border: 1px solid #e5e3e3;
}
.cart-content .cart-checkout-btn a.cart-btn:hover {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  color: #ffffff;
}
.cart-content .cart-checkout-btn a.checkout-btn {
  background-color: #e73c17;
  border: 1px solid #e73c17;
  color: #ffffff;
}
.cart-content .cart-checkout-btn a.checkout-btn:hover {
  border: 1px solid #353535;
  background-color: #353535;
}
.cart-content .cart-checkout-btn a:first-child {
  margin-top: 0;
}
.cart-content.cart-content-padding ul {
  margin: 0;
  padding: 30px;
}
@media only screen and (max-width: 575px) {
  .cart-content.cart-content-padding ul {
    padding: 30px 0;
  }
}
.cart-content.cart-content-padding .cart-total {
  padding: 24px 30px;
}
@media only screen and (max-width: 575px) {
  .cart-content.cart-content-padding .cart-total {
    padding: 24px 0;
  }
}
.cart-content.cart-content-padding .cart-checkout-btn {
  padding: 36px 30px 30px;
}
@media only screen and (max-width: 575px) {
  .cart-content.cart-content-padding .cart-checkout-btn {
    padding: 36px 0 30px;
  }
}

.aside-search-box-wrapper .offcanvas-header {
  justify-content: flex-end;
  padding: 0;
}
.aside-search-box-wrapper .btn-close {
  box-shadow: none;
  position: absolute;
  background-image: none;
  background-color: #e73c17;
  color: #ffffff;
  opacity: 1;
  font-size: 38px;
  top: 0;
  width: 40px;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  right: 30px;
}
.aside-search-box-wrapper .btn-close:hover {
  color: #ffffff;
  background-color: #3f3f3f;
}
.aside-search-box-wrapper .offcanvas-body {
  padding-top: 64px;
}
.aside-search-box-wrapper .search-note p {
  font-size: 13px;
  text-transform: capitalize;
  color: #3f3f3f;
  margin-bottom: 10px;
}
.aside-search-box-wrapper .search-form {
  position: relative;
}
.aside-search-box-wrapper .search-form .form-control {
  border: 1px solid #e73c17;
  color: #353535;
  box-shadow: none;
  border-radius: 0;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  text-transform: capitalize;
  padding: 10px 55px 10px 24px;
}
.aside-search-box-wrapper
  .search-form
  .form-control::-webkit-input-placeholder {
  color: rgba(63, 63, 63, 0.6);
}
.aside-search-box-wrapper .search-form .form-control:-moz-placeholder {
  color: rgba(63, 63, 63, 0.6);
}
.aside-search-box-wrapper .search-form .form-control::-moz-placeholder {
  color: rgba(63, 63, 63, 0.6);
}
.aside-search-box-wrapper .search-form .form-control:-ms-input-placeholder {
  color: rgba(63, 63, 63, 0.6);
}
.aside-search-box-wrapper .search-form .search-button {
  border: none;
  background-color: #e73c17;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  font-size: 18px;
  color: #ffffff;
}
.aside-search-box-wrapper .search-form .search-button:hover {
  color: #ffffff;
  background-color: #3f3f3f;
}
.aside-search-box-wrapper.offcanvas-top {
  height: 215px;
}

.aside-side-menu-wrapper {
  padding: 0;
}
@media only screen and (max-width: 479px) {
  .aside-side-menu-wrapper.offcanvas-end {
    width: 310px;
  }
}
.aside-side-menu-wrapper .offcanvas-header {
  align-items: center;
  background-color: #000000;
  cursor: pointer;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 30px;
}
@media only screen and (max-width: 479px) {
  .aside-side-menu-wrapper .offcanvas-header {
    height: 45px;
  }
}
.aside-side-menu-wrapper .offcanvas-header h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 479px) {
  .aside-side-menu-wrapper .offcanvas-header h5 {
    font-size: 16px;
    font-weight: 500;
  }
}
.aside-side-menu-wrapper .offcanvas-header .btn-close {
  background: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 32px;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 0;
  width: auto;
  transition: all 0.3s ease 0s;
}
.aside-side-menu-wrapper .offcanvas-header .btn-close:hover {
  color: #e73c17;
}
.aside-side-menu-wrapper .offcanvas-body {
  padding: 0 30px 20px;
}

.sidemenu-top {
  position: relative;
}
.sidemenu-top .header-top-info {
  border-bottom: 1px solid #eee;
  font-size: 12px;
}
.sidemenu-top .header-top-info a {
  display: block;
  padding: 10px 30px;
}
@media only screen and (max-width: 479px) {
  .sidemenu-top .header-top-info a {
    line-height: 1.6;
  }
}
.sidemenu-top .header-info-dropdown {
  border-bottom: 1px solid #eee;
  display: block;
}
.sidemenu-top .header-info-dropdown:last-child {
  border: none;
}
.sidemenu-top .header-info-dropdown:last-child .dropdown-menu {
  top: -2px !important;
}
.sidemenu-top .header-info-dropdown .btn-info {
  color: #373737;
  display: block;
  font-weight: 400;
  font-size: 17px;
  padding: 17px 30px;
  text-align: left;
  width: 100%;
}
@media only screen and (max-width: 479px) {
  .sidemenu-top .header-info-dropdown .btn-info {
    font-size: 14px;
    padding: 12px 30px;
  }
}
.sidemenu-top .header-info-dropdown .btn-info.dropdown-toggle:after {
  color: #3f3f3f;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 28px;
  right: 30px;
  top: calc(50% - 15px);
}
@media only screen and (max-width: 479px) {
  .sidemenu-top .header-info-dropdown .btn-info.dropdown-toggle:after {
    font-size: 24px;
    top: calc(50% - 13px);
  }
}
.sidemenu-top .header-info-dropdown .btn-info:before {
  display: none;
}
.sidemenu-top .header-info-dropdown .dropdown-menu {
  left: 0 !important;
  max-width: none;
  padding: 3px 25px;
  top: -1px !important;
  width: 100%;
}

.offcanvas-menu {
  position: relative;
  z-index: 1;
}

.offcanvas-menu::before {
  background-color: #ffffff;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.offcanvas-menu ul ul {
  display: none;
}

.offcanvas-menu > ul > li > ul li {
  border-bottom: 0px;
}
.offcanvas-menu > ul > li > ul li a {
  padding: 7px 15px;
  font-weight: 400;
  font-size: 14px;
  color: #3f3f3f;
}
.offcanvas-menu > ul > li > ul li a:not(:only-child):after {
  font-size: 18px;
  right: 3px;
  top: 3px;
}

.offcanvas-menu > ul > li > ul li > ul li {
  border-bottom: 0px;
}
.offcanvas-menu > ul > li > ul li > ul li a {
  padding: 7px 30px;
  font-size: 13px;
  color: #3f3f3f;
}

.offcanvas-menu li.active > ul {
  display: block;
}

.offcanvas-menu li a {
  display: block;
  text-transform: capitalize;
  color: #3f3f3f;
  padding: 10px 0px;
  position: relative;
  font-size: 17px;
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 479px) {
  .offcanvas-menu li a {
    font-size: 15px;
  }
}
.offcanvas-menu li a:hover {
  color: #e73c17;
}
.offcanvas-menu li a:hover:after {
  color: #e73c17;
}

.offcanvas-menu a:not(:only-child):after {
  color: #3f3f3f;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 479px) {
  .offcanvas-menu a:not(:only-child):after {
    font-size: 24px;
    top: 1px;
  }
}

.offcanvas-menu .active > a:not(:only-child):after {
  content: "\f106";
}

.offcanvas-menu .vmenu-menu-item {
  border-top: 1px solid #eee;
  margin-top: 12px;
  padding-top: 10px;
}
.offcanvas-menu .vmenu-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.offcanvas-menu .vmenu-item a {
  min-height: auto;
  padding: 9px 15px;
}
.offcanvas-menu .vmenu-item a .icon {
  display: inline-block;
  margin-right: 0;
  width: 28px;
}
.offcanvas-menu .vmenu-item a .icon img {
  width: 18px;
}