@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-slider-area .container {
    width: 100%;
  }
}

.hero-four-wrp .hero-four-slider-container {
  padding-right: 20px;
  width: calc(100% - 530px);
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-wrp .hero-four-slider-container {
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }
}
.hero-four-wrp .product-banner-area {
  width: 530px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-wrp .product-banner-area {
    display: flex;
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .hero-four-wrp .product-banner-area {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-wrp .product-banner-area .product-banner-item {
    margin-right: 10px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .hero-four-wrp
    .product-banner-area
    .product-banner-item
    .product-banner-title {
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 575px) {
  .hero-four-wrp .product-banner-area .product-banner-item {
    margin-right: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-wrp
    .product-banner-area
    .product-banner-item
    + .product-banner-item {
    margin-left: 10px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 575px) {
  .hero-four-wrp
    .product-banner-area
    .product-banner-item
    + .product-banner-item {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}

.hero-four-slide-item {
  align-items: center;
  height: 640px !important;
  display: flex;
  padding: 0 110px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .hero-four-slide-item {
    overflow: hidden;
    padding: 0 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-four-slide-item {
    height: 600px !important;
    padding: 0 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-four-slide-item {
    height: 480px !important;
    padding: 0 50px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-four-slide-item {
    height: 450px !important;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 575px) {
  .hero-four-slide-item {
    height: auto !important;
    padding: 70px 0 75px;
  }
}
.hero-four-slide-item .container {
  position: relative;
}
.hero-four-slide-item.swiper-slide-active
  .hero-four-slide-content
  .hero-four-slide-title,
.hero-four-slide-item.swiper-slide-active
  .hero-four-slide-content
  .hero-four-slide-desc,
.hero-four-slide-item.swiper-slide-active .hero-four-slide-content .btn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hero-four-slide-item.swiper-slide-active
  .hero-four-slide-content
  .hero-four-slide-title {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
.hero-four-slide-item.swiper-slide-active
  .hero-four-slide-content
  .hero-four-slide-desc {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}
.hero-four-slide-item.swiper-slide-active .hero-four-slide-content .btn {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.hero-four-slide-item.swiper-slide-active .hero-four-slide-thumb {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hero-four-slide-thumb {
  text-align: right;
}
@media only screen and (max-width: 575px) {
  .hero-four-slide-thumb {
    padding: 0 15px;
    text-align: center;
  }
}
.hero-four-slide-thumb img {
  max-width: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-slide-thumb img {
    max-width: 100%;
  }
}
.hero-four-slide-content {
  margin-top: -9px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .hero-four-slide-content {
    margin-top: 0;
  }
}
@media only screen and (max-width: 575px) {
  .hero-four-slide-content {
    margin-bottom: 50px;
    padding: 0 15px;
    text-align: center;
  }
}
.hero-four-slide-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 14px;
}
@media only screen and (min-width: 1730px) {
  .hero-four-slide-title {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .hero-four-slide-title {
    font-size: 34px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-four-slide-title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-four-slide-title {
    font-size: 30px;
  }
}
.hero-four-slide-desc {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 43px;
}
@media only screen and (max-width: 767px) {
  .hero-four-slide-desc {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 25px;
  }
}
