.sidebar {
	width: 250px;
	background: linear-gradient(45deg, #b58335, #b58335);
	min-height: 100vh;
	scroll-behavior: smooth;
	overflow: hidden;
}
.header {
	width: 100%;
	box-shadow: 0px 0 0.1rem #b58335;
	position: relative;
}

.header-pad {
	padding-left: 6rem;
	padding-right: 6rem;
}

.d-item {
	padding: 10px 25px;
	width: 300px;
	position: absolute;
	right: 30px;
	bottom: -170px;
	border: 1px solid #b58335;
	background: #fff;
	border-radius: 20px;
}

.sidebar-ul {
	list-style: none;
	line-height: 30px;
	padding-left: 0 !important;
	margin-left: 0 !important;
	margin-top: 30px;
}

.sidebar-ul li {
	/* margin-bottom: 25px; */
	line-height: 40px;
	padding: 10px 20px 10px 30px;
	width: 100%;
}


.sidebar-ul li.active {
	background: #eea236;
	border-bottom: 3px solid #000;
}

.sidebar-ul li span {
	padding-right: 15px;
}

.sidebar-footer {
	position: fixed;
	bottom: 50px;
	left: 30px;
}

.sidebar-footer span {
	padding-right: 15px;
}
